#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/usr/share/Wreathe/AppIcons/gmail.svg
Name[en_US]=Gmail
Exec=gmail
Name=Gmail
Icon=/usr/share/Wreathe/AppIcons/gmail.svg
