[Desktop Entry]
Comment[en_US]=
Comment=
Exec=recoll
GenericName[en_US]=
GenericName=
Icon[en_US]=/usr/share/icons/AwOkenDark/clear/128x128/apps/gnome-search-tool.png
Icon=/usr/share/icons/AwOkenDark/clear/128x128/apps/gnome-search-tool.png
MimeType=
Name[en_US]=Search
Name=Search
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
