[Unit]
Description=Wreathe Update Service

[Service]
Type=oneshot
ExecStart=/Wreathe/.Resources/Scripts/StartupServices.w7axn

[Install]
WantedBy=multi-user.target
