[Unit]
Description=Wreathe Update Service

[Service]
Type=idle
Restart=always
RestartSec=14400
ExecStart=/Wreathe/.Resources/Scripts/UpdateService.w7axn

[Install]
WantedBy=multi-user.target
