<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com...yList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>fontSize</key>
    <string>20</string>
    <key>bgColor</key>
    <string>e2daf1/string>
    <key>fgColor</key>
    <string>000000/string>
    <key>fgBoldColor</key>
    <string>330000/string>
</dict>
</plist>